title: Péter Tengg
subtitle: Software Engineer
author: Péter
email:
description: >- # this means to ignore newlines until "baseurl:"
  A personal site by Péter Tengg — exploring creative programming, algorithmic trading, and technical projects. 
  Follow along for insights, experiments, and portfolio updates.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://petertengg.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: ""
github_username: petertengg

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.27.1"
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag

search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : "lunr"
lunr:
  search_within_pages    : true
  search_full_content    : true

minimal_mistakes_skin: "dark" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false # this turns off the dysfunctional Follow button on mobile

  # _posts
  - scope:
      type: posts
    values:
      layout: single
      author_profile: false # this turns off the dysfunctional Follow button on mobile
      show_date: true
      read_time: true
      share: false
      related: true
      comments: true

  - scope:
      path: "Portfolio/_posts"
    values:
      permalink: /portfolio/:year-:month-:day-:title/
  
  - scope:
      path: "Programming/_posts"
    values:
      permalink: /programming/:year-:month-:day-:title/

  - scope:
      path: "Trading/_posts"
    values:
      permalink: /trading/:year-:month-:day-:title/

  - scope:
      path: "Updates/_posts"
    values:
      permalink: /updates/:year-:month-:day-:title/

comments:
  provider: "disqus"
  disqus:
    shortname: "petertengg"


include: ["_pages"]

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

feed:
  categories:
    - Updates
    - Programming
    - Trading
    - Portfolio

social:
  type:  "Person"
  name:  "Péter Tengg"
  links:
    - "https://instagram.com/optimal_banana"
    - "https://www.linkedin.com/in/petertengg"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-TC8TDGQPHL"
    anonymize_ip: false # default

footer:
  since: "2025"
  links:
  - label: "CV (PDF)"
    icon: "fas fa-fw fa-file-pdf"
    url: "/assets/downloads/CV English - Peter Tengg.pdf"
    type: "application/pdf"
    download: true
  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/petertengg/"
  - label: "Discord"
    icon: "fab fa-fw fa-discord"
    url: "https://discord.com/users/peti7199"
  - label: "TradingView"
    icon: "fas fa-fw fa-chart-line"
    url: "https://www.tradingview.com/u/OperationHeadLessChicken/"
  - label: "Instagram"
    icon: "fab fa-fw fa-instagram"
    url: "https://www.instagram.com/optimal_banana/"

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - .gitignore
  - drafts/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/